<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page - <%= user %></title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container" id="content">
      <h1>Hello <%= user %></h1>
      <p>You are logged in.</p>
      <% if (groups?.length > 0) { %>
      <p>
        <%= groups?.length === 1 ? 'You are in this group: ' : '' %>
        <!---->
        <%= groups?.length > 1 ? 'You are in these groups: ' : '' %>
        <!---->
        <%= groups.join(', ') %>
      </p>
      <% } %>
      <p><a href="./password">Change your password</a></p>
      <% if (groups.includes('admin')) { %>
      <p><a href="./manage">Manage users</a></p>
      <% } %>
      <p>Return to <a href="/" id="link">/</a></p>
      <p><a href="/logout" id="logout">Log Out</a></p>
    </div>

    <script>
      const logout = () => {
        fetch('/logout', {
          method: 'POST',
        }).then((response) => {
          // check for auth failure for other reasons
          if (response.status !== 200) {
            // auth failed
            alert('Log out failed');
            return;
          }

          // logout successful, redirect to login
          window.location.href = '/login';
        });
      };

      const buttonLogout = document.getElementById('logout');
      buttonLogout.addEventListener('click', (e) => {
        e.preventDefault();
        logout();
      });

      const visitLink = document.getElementById('link');
      visitLink.innerText = location.host;
      visitLink.href = location.protocol + '//' + location.host;
    </script>
  </body>
</html>
